{% extends 'base.html' %}

{% block title %} Blog Detail: Flask Blog {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/blog-detail.css') }}">
{% endblock head %}

{% block body %}
<div class="blog-detail wrapper container">
    <h1 class="title">{{ data['title'] }}</h1>

    <div class="author">
        <img src="{{ url_for('static', filename='userdata/'+data['author_email']+'/profile-image.webp' )}}" alt="">
        <h3>{{ data['author'] }}</h3>
        <div>{{ data['date'] }}</div>
    </div>

    <div class="controls">
        <button class="like"><img src="{{ url_for('static', filename='svg/like-svg.svg') }}" alt="" />
            {{ data['like_count'] }}</button>
        <button class="comment"><img src="{{ url_for('static', filename='svg/comment-svg.svg') }}" alt="" />
            {{ data['comment_count'] }}</button>
    </div>

    <img src="{{ url_for( 'static', filename='blogdata/'+data['_id']|string+'/banner.webp' )}}" alt="{{ data['title'] }}" class="banner">

    <div class="content">
        {{ data['content']|safe }}
    </div>

    <div class="comments">
        <div class="title">Comments</div>
        <div class="comment-box">
            <textarea name="new-comment" placeholder="Enter your comment"></textarea>
            <button class="btn btn-sm">Comment!</button>
        </div>
        {% for i in [1,2,3,4,5] %}
        <div class="comment">
            <div class="header">
                <img src="https://miro.medium.com/v2/resize:fill:224:224/0*ORJjEuRQB57bd_SX.jpg" alt="">
                <div>commentor_name (Dec, 2 2023)</div>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab a modi doloribus fugiat voluptas
                    laboriosam,
                    recusandae tempore illum excepturi velit repudiandae cumque repellendus natus. Saepe voluptatum sit
                    nihil expedita. A unde ex voluptatibus et delectus! Temporibus maxime est magnam sed harum, nisi
                    accusantium tempora veniam ducimus id voluptas modi dicta quia rem sequi doloremque a? Ratione
                    temporibus doloremque unde perferendis, reprehenderit vero nihil debitis aliquid voluptate eos autem
                    dolorum mollitia odit consequatur adipisci enim sequi eius blanditiis quaerat, vitae exercitationem
                    pariatur quia. Dolorum sunt totam numquam soluta ducimus reiciendis repudiandae voluptates
                    similique,
                    fugit adipisci molestias dolores blanditiis amet. Deserunt, quaerat?</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}