{% extends 'base.html' %}

{% block title %} Blog Detail: Flask Blog {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/blog-detail.css') }}">
{% endblock head %}

{% block body %}
<div class="blog-detail wrapper container">
    <h1 class="title">{{ data['title'] }}</h1>

    <div class="author">
        <img src="{{ url_for('static', filename='userdata/'+data['author_email']+'/profile-image.webp' )}}" alt="">
        <h3>{{ data['author'] }}</h3>
        <div>{{ data['date'] }}</div>
    </div>

    <div class="controls">
        <a href="/blog/like/{{ data['_id'] }}" class="button like">
            <img src="{{ url_for('static', filename='svg/like-svg.svg') }}" alt="" />
            {{ data['like_count'] }}
        </a>
        <div class="button comment"><img src="{{ url_for('static', filename='svg/comment-svg.svg') }}" alt="" />
            {{ data['comment_count'] }}
        </div>
        {% if data['author_email']==session['email'] %}
        <a href="/blog/edit/{{ data['_id'] }}">Edit Blog</a>
        <a href="/blog/delete/{{ data['_id'] }}">Delete Blog</a>
        {% endif %}
    </div>

    <img src="{{ url_for( 'static', filename='blogdata/'+data['_id']|string+'/banner.webp' )}}"
        alt="{{ data['title'] }}" class="banner">

    <div class="content">
        {{ data['content']|safe }}
    </div>

    <div class="comments">
        <form class="comment-box" method="post" action="/blog/comment/{{ data['_id'] }}">
            <textarea name="new-comment" placeholder="Enter your comment"></textarea>
            <button type="submit" class="btn btn-sm">Comment!</button>
        </form>
        {% if comments %}
        {% for comment in comments %}
        <div class="comment">
            <div class="header">
                <img src="{{ url_for('static', filename='userdata/'+comment['commentor_email']+'/profile-image.webp') }}"
                    alt="{{ comment['commentor'] }}">
                <div>{{ comment['commentor'] }} <span>{{ comment['date'] }}</span></div>
            </div>
            <div class="content">
                <p>{{ comment['comment'] }}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="comment">
            NO Comments Found
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}