{% extends 'base.html' %}

{% block title %} All Blogs: Flask Blog {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/blog-list.css') }}">
{% endblock head %}

{% block body %}
<div class="blog-list wrapper container">
    {% if selfBlog  %}
    <h2 class="title">My Blogs</h2>
    {% else  %}
    <h2 class="title">Discover Blogs ✨</h2>
    {% endif  %}

    {% if data %}
        {% for blog in data %}
        <div class="blog">
            <div class="header">
                <img src="{{ url_for( 'static', filename='userdata/'+blog['author_email']+'/profile-image.webp' )}}" alt="">
                <div class="author">{{ blog['author'] }}</div>
                <div class="date">{{ blog['date'] }}</div>
            </div>
            <a href="{{ url_for('blog.viewBlog', blogId=blog['_id']|default('')|string )}}" class="content">
                <h2>{{ blog['title'] }}</h2>
                <div class="image">
                    <img src="{{ url_for( 'static', filename='blogdata/'+blog['_id']|string+'/'+blog['icon'] )}}" alt="image">
                </div>
            </a>
            <div class="footer">
                <a href="{{ url_for('blog.likeBlog', blogId=blog['_id']|default|string )}}" class="button like"><img src="{{ url_for('static', filename='svg/like-svg.svg') }}" alt="" /> {{ blog['like_count'] }}</a>
                <button class="button comment"><img src="{{ url_for('static', filename='svg/comment-svg.svg') }}" alt="" /> {{ blog['comment_count'] }}</button>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div>No Blogs Found</div>
    {% endif %}
</div>
{% endblock body %}