.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background-color: var(--color-white);
}

.auth form {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    border-radius: 1rem;
    min-height: 600px;
    height: max-content;
    width: 516px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 19%);
}

.auth form .profile-pic {
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 150px;
    padding: 1.5rem;
    background-color: var(--color-secondary);
}

.auth form .profile-pic .pic-bg {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .5rem;
    font-size: var(--font-s);
    pointer-events: none;
}

.auth form .profile-pic .pic-bg img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.auth form .profile-pic input {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.auth form .text-redirect {
    width: 100%;
    text-align: start;
    transition: .3s all ease-in-out;
}

.auth form .text-redirect:hover {
    color: var(--color-blue);
}

.auth form label {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.auth form label input {
    height: 40px;
    width: 100%;
    border-radius: .5rem;
    padding: 0 .5rem;
    font-size: var(--font-base);
    border: 1px solid var(--color-primary);
}

.auth form small {
    width: 100%;
    text-align: start;
    color: var(--color-red);
}

@media screen and (max-width: 768px) {
    .auth form {
        padding-top: 220px;
    }
}