:root {
    --color-white: #FFFFFF;
    --color-primary: #111111;
    --color-secondary: #fdfdfd;
    --color-primary-hover: #484848;
    --color-blue: #246596;
    --color-blue-subtle: #4ca6eb;
    --color-blue-subtle1: #97caf1;
    --color-stroke: #2121214a;
    --color-red: #920c0c;
    --color-red-subtle: #f45f5f;
    --color-red-subtle1: #f39d9d;

    --font-title: 6.25rem;
    --font-xl: 3rem;
    --font-l: 2.25rem;
    --font-lg: 2rem;
    --font-sm: 1.5rem;
    --font-base: 1rem;
    --font-s: .875rem;
    --font-xs: .625rem;
    --font-xxs: .5rem;
}